<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-sdk />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="건강관리앱"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".ParsingRecognizedTextActivity"></activity>
        <activity
            android:name=".NutritionTestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SikActivity"
            android:parentActivityName=".tcolnadangActivity" />
        <activity
            android:name=".tcolnadangActivity"
            android:parentActivityName=".tandanjipoActivity" />
        <activity android:name=".tandanjipoActivity" />
        <activity android:name=".CropActivity" />
        <activity
            android:name=".SelectFoodActivity"
            android:parentActivityName=".DetectorActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".AnalyzedFoodActivity" />
        <activity android:name=".MyNutritionsActivity" />
        <activity
            android:name=".NutritionLabelsActivity"
            android:parentActivityName=".CameraActivity2" />
        <activity android:name=".PassDataActivity" />
        <activity android:name=".DialogPlanExercise2Activity" />
        <activity android:name=".DialogNoExerciseWarningActivity" />
        <activity android:name=".DialogPlanExercise1Activity" />
        <activity android:name=".DialogAskPlanActivity" />
        <activity android:name=".DialogOverActivity" />
        <activity android:name=".DialogNotOverActivity" />
        <activity android:name=".Exercise2Activity" />
        <activity
            android:name=".CameraAnalyzeActivity"
            android:label="일단다이얼로그랑코딩테스팅"
            android:parentActivityName=".MainActivity" /> <!-- Image Crop 라이브러리 추가 -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/progressbar_custom" />

        <activity
            android:name=".ViewCourses2"
            android:label="식단입력정보" />
        <activity
            android:name=".ViewCourses"
            android:label="사용자 정보" />
        <activity
            android:name=".MainActivity"
            android:label="영양성분표분석 건강관리앱"
            android:parentActivityName=".SikActivity" />
        <activity
            android:name=".CalculateCaloriesActivity"
            android:parentActivityName=".Insert2Activity" />
        <activity
            android:name=".FoodActivity"
            android:label="식단입력하기" />
        <activity android:name=".NutritionActivity" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".DetectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity2"
            android:parentActivityName=".DetectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Insert2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>